extends layout

block content
  .container
    h3.header Welcome to Rent-A-Hacker!
    .card.horizontal.z-depth-5.hoverable
      .card-stacked
        .card-content(style='padding: 0;')
          ul.collection(style='margin: 0;')
            a.collection-item.black-text Forgot the password your own computer?
            a.collection-item.black-text Need to stalk your ex on social networks?
            a.collection-item.black-text Want to steal some passwords from your favourite web-service?
        .card-content.grey.lighten-2
          p.bold-text.center-align Get yourself a hacker!
        ul.card-content.collapsible.collapsible-in-card(data-collapsible='accordion', style='padding: 0;')
          li
            .collapsible-header
              i.material-icons language
              | Huge community
            .collapsible-body
              span We feature some of the best hackers on this planet in our repertoire.
          li
            .collapsible-header
              i.material-icons phone
              | Easy contact
            .collapsible-body
              span Found the right hacker? Easily send him or her a private message with information about your job.
          li
            .collapsible-header
              i.material-icons vpn_key
              | Secure communication
            .collapsible-body
              span We make sure that nobody except the two of you can read along your conversation by encrypting personal information.
        .card-action.center-align
          a.btn.btn-large.btn-float.grey.darken-4.bold-text(href='/users/register') Register
        .card-action.center-align
          a.btn.btn-large.btn-float.grey.darken-4.bold-text(href='/users/login') Login
      .card-image.black
        img(src='/img/img1.jpg')
